<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#if name}}
        <link rel='stylesheet' href='/stylesheets/{{name}}.css' />
    {{/if}}
    <script src="/javascripts/getCookie.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
